#craft{
    background-color: #885624;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 1.3em;
    border: 5px solid darkgoldenrod;
}
#craft-title{
    width:100%;
    margin: 0;
}
.craftable{
    height:50px;
    width: 50px;
    border: 1px solid grey;
    padding: 10px;
}
.craftable h6 {
    margin: 0;
}
.craft-count {
    margin-top: 5px;
}