#instructionsModal {
    position: absolute;
    height: 575px;
    width: 800px;
    background-color: grey;
    text-align: left;
    left:0;
    top:20px;
}

#instructionToggle{display:flex; position: relative;}
#instructionToggle button {
    border: none;
    font-family: inherit;
}