#inventory {
    display:flex;
    flex-direction: column;
    background-color:#EDD67C;
    padding: 10px;
    font-size: 1.3em;
    border: 5px solid darkgoldenrod;
}
#inventoryTitle{
    width:100%;
    margin: 0;
}

#playerItems {
    display:flex;
}

.item{
    height:50px;
    width: 50px;
    border: 1px solid grey;
    padding: 10px;
}

.item-name h6 {margin: 0;}

.item-count{margin-top: 5px;}

.item.selected{ border:2px solid black; }