.world {
    height: 800px;
    width: 800px;
    background-color:#e8ffe8;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 5%;
    padding: 3%;
    border: 5px solid darkolivegreen;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
}

.world #codeLink a{color: gray; text-decoration: none;}

#header{
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}
#dayCount h4{
    margin:0;
}
#playerHealth {display: flex; }
#playerHealth h4 {margin: 0; }
#playerHealth div { min-width: 100px; color:indianred;}

